<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.school.marketclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name="com.realname.marketclient.activity.SetOrderActivity"></activity>
        <activity android:name="com.realname.marketclient.activity.CartActivity" />
        <activity android:name="com.realname.marketclient.activity.ShowProductActivity" />

        <receiver
            android:name="com.realname.marketclient.receiver.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.realname.marketclient.activity.EvaluteActivity" />
        <activity android:name="com.realname.marketclient.activity.MainActivity"
                  android:label="实名制">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.realname.marketclient.activity.AboutMeActivity" />
        <activity android:name="com.realname.marketclient.activity.RegisterActivity" />
        <activity android:name="com.realname.marketclient.activity.LoginActivity" />
        <activity android:name="com.realname.marketclient.activity.OrderActivity" />
        <activity android:name="com.realname.marketclient.activity.MineActivity" />
        <activity android:name="com.realname.marketclient.activity.PasswordResetActivity" android:screenOrientation="portrait"/>


        <receiver
            android:name="com.realname.marketclient.receiver.FinishReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>